<div class="main-content">
    <img src="../../assets/web-design-team.jpg" alt="CAFE">
    <div class="content-container">
        <div class="overlay">Where's Your Favorite Study Space?</div>
        <div class='search-container'>
          <select [(ngModel)]="searchCriteria" style="width:60%">
            <option value="zipcode">ZipCode</option>
            <option value="businessname">Business Name</option>
          </select>

            <ng-container *ngIf="searchCriteria === 'zipcode'">
              <input type="text" placeholder="Search by ZipCode" #zipCodeInput>
              <button (click)="onSearchZip(zipCodeInput.value)">Search</button>
            </ng-container>

            <ng-container *ngIf="searchCriteria === 'businessname'">
              <input type="text" placeholder="Search by Business Name" #NameInput>
              <button (click)="onSearchName(NameInput.value)">Search</button>
            </ng-container>

            <!--input type="text" placeholder=" Your City" [(ngModel)]="city"-->
            <!--input type="text" placeholder="State" [(ngModel)]="state"-->
            <!--select name="states" id="states">
              <option>California</option>
              </select-->
            <!--button (click)="getUserCoords(city, state)">
              <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" 
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button-->


          <!--input type="text" placeholder="Search..." #zipCodeInput>
          <button (click)="onSearch(zipCodeInput.value)">
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" 
                stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button-->


        </div>
    </div>
</div>
